#hero {
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background: white-color;
    font-weight: 400;
    color: dark-blue-text;
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .container{
    position: absolute;
    top: 10rem;
    left: 3rem;
  }

  .hero-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
  }

  .text-color-main{
    color: #a29bfe;
  }

  .hero-cta {
    display: flex;
  }