#hero {
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background: white-color;
    font-weight: 400;
    color: dark-blue-text;
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .container{
    position: absolute;
    top: 7rem;
    left: 3rem;
  }

  .hero-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
  }

  .text-color-main{
    color: #a29bfe;
  }

  .hero-cta {
    display: flex;
  }

  .home-btn{
    position: absolute;
    background-color: white;
    height: 30px;
    width: 6rem;
    left: 10px;
    border-radius: 5px;
    border: 3px solid #a29bfe;
    color: #a29bfe;
    font-weight: 600;
  }

  #hero .home-btn{
    cursor: pointer;
  }

  #calculation{
    position: absolute;
    left: 0;
    top: 28rem;
    display: flex;
    width: 50vw;
    height: 17vh;
}

#projects{
    border-left: 1px solid #DFDCDC;
    border-right: 1px solid #DFDCDC;
}
#experience,#projects,#clients{
    width: 20vw;
    height: 100%;
    text-align: center;
}

.count{
    font-size: 3em;
    font-weight: 600;
    position: relative;
    top: -1rem;
    margin-bottom: 1rem;
}

.info{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.551);
}